*{
    /* outline: solid 1px green; */
    box-sizing: border-box;
}   

:root{
    --icon-footer-size: 20px;
    --icon-filter: invert(64%) sepia(22%) saturate(218%) hue-rotate(158deg) brightness(87%) contrast(91%);
}

body{
    background-color: #121b22;
    font-family: sans-serif;
}

.container{
    display: flex;
}

.side-bar{
    width: 30vw;
    height: 100vh;
}

.chat-container{
    width: 70vw;
    height: 100vh;
}

.chat-container .header{
    position: fixed;
    top: 0;
    width: inherit;
    height: 50px;
    background-color: #1f2c34;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.chat-container .header .reciver-profile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 190px;
}

.chat-container .header .reciver-profile .profile{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background-image: url(img/troll-face-meme.gif);
    background-size: cover;
    background-position: 50%, 50%;
    background-color: #e7edef;
}

.header .nama{
    color: #ffffff;
    font-size: 120%;
    font-family: sans-serif;
    text-transform: capitalize;
}

.header .status{
  color: #ffffff;
  font-size: 70%;
}

.menu{
    width: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu .dot{
    margin-top: 3px;
    width: 3px;
    height: 3px;
    background-color: #8596a0;
    border-radius: 50px;
}

.chatRoom{
    margin-top: 10%;
    margin-bottom: 15%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.popChat{
    margin-top: 4px;
    float: right;
    padding-right: 10px;
    /* margin-left: 100%; */
}

.popChatKos{
    width: 100%;
    float: right;
    /* outline: solid 2px red; */
}

.popChat p{
    margin-top: 20px;
    background-color: #005d4b;
    border-radius: 50px 0 50px 50px;
    padding: 10px;
    color: #e7edef;
    /* outline: solid 2px red; */
}

.userRespon{
    float: left;
    padding-right: 10px;
    /* outline: solid 2px red; */
}

.userResponKos{
    width: 100%;
    float: right;
    /* outline: solid 2px red; */
}

.userRespon p{
    margin-left: 10px;
    margin-top: 15px;
    background-color: #1f2c34;
    border-radius: 0 50px 50px 50px;
    padding: 10px;
    color: #e7edef;
}

.footer{
    position: fixed;
    bottom: 0;
    height: 50px;
    width: inherit;
    background-color: #121b22;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.visualConten{
    height: 40px;
    width: 95%;
    background-color: #1f2c34;
    border-radius: 50px;
    display: flex;
}

.left-bag{
    display: flex;
    width: 90%;
}

.emoteIcon{
    width: 40px;
    /* background-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.emoteIcon img{
  width: 70%;
  height: 70%;
  filter: var(--icon-filter);
}



.blokText{
    height: 100%;
    width: 85%;
    background-color: none;
    display: flex;
    align-items: center;
}

.blokText input{
    width: 100%;
    height: 80%;
    font-size: 110%;
    background-color: inherit;
    border: none;
    color: #ffffff;
}

::placeholder{
  color: #8596a0;
  font-size: 95%;
}

.right-bag{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    width: 10%;
    /* outline: solid 2px red; */
}

/* .papperClipIcon{
    background-color: white;
} */

.papperClipIcon img{
  width: 20px;
  height: 20px;
  filter: var(--icon-filter);
}


/* .cameraIcon{
    background-color: white;
} */

.cameraIcon img{
  width: 25px;
  height: 25px;
  filter: var(--icon-filter);
}


.audioConten{
    width: 40px;
    height: 40px;
    background-color: #00a884;
    border-radius: 50px;
}

/* .audioConten .mic{
    width: 11%;
    height: 100%;
    background-color: #00a884;
    float: right;
    border-radius: 50px;
    padding-left: 8px;
    padding-top: 7.5px;
    box-sizing: border-box;
} */

.audioConten .icon img{
  width: 26px;
  height: 26px;
  filter: invert(100%) sepia(0%) saturate(1788%) hue-rotate(322deg) brightness(109%) contrast(81%);
}

.audioConten .icon .mic{
  display: none;
}

.audioConten .icon .send{
  display: none;
}





































/* input reset */
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}


/* RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}